.FormInput{
    display: flex;
    flex-direction: column;
    width: 280px;
  }

  span{
    font-size:12px;
    padding:3px;
    color: red;
    display: none;
  }
  input:invalid[focused='true'] ~span{
    border: 1px solid red;
  }
  
  input:invalid[focused='true'] ~span{
    display:block;
  }